@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext);

body{
	font-family: 'Open Sans', sans-serif;
	margin-top: 75px;
	overflow-x:hidden;
}
@media(max-width:768px){
	body{
		padding:0 !important;
	}
}
#wrap, footer{
	display: none;
}
.load{
	background-image: url('../img/load.gif');
	background-position: center 50%;
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height:100%;
	z-index: 9999999;
}
#wrap{
	/*min-height:100%;*/
	height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
/*FOOTER STY*/
#push, .footer-fix{
	height: 30px;
}
.footer-fix{
	position: fixed;
	margin-top: -150px;
	height:40px;
	clear:both;
  	/*padding-top:20px;*/
  	width: 100%;
  	bottom: 0;
  	color:#fff;
  	font-size: 11px;
  	text-transform: uppercase;
  	z-index: 9999999;
}
@media (max-width: 767px) {
    .footer-fix {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container-fluid{
	padding:0 !important;
}
/*MENU AND HEADER*/
.head_cont{
	background-color: #fff;
	height:74px;
	text-transform: uppercase;
	color: #3598dc;
	position: fixed;
	z-index: 999999;
	margin-top:-75px;
}
.head_cont nav{
	width: 510px;
	margin: 0 auto;
}
.head_cont nav a{
	color: #3598dc;
}
.head_cont nav a:hover{
	background-color: #f37531 !important;
	color: #fff;
	border: 0 !important;
	border-radius:0 !important;
}
.head_cont nav a:focus{
	background-color: #f37531 !important;
	color: #fff;
	border: 0 !important;
	border-radius:0 !important;
}
.head_cont nav ul{
	padding-top: 20px;
}
@media(max-width:900px){
	.head_cont nav{
		font-size:12px;
		width: 440px;
	}
}
.head_cont .tools{
	padding-top: 30px;
	margin-right: 10px;
}
.head_cont .logo{
	margin: 10px 5px;
}
/*MENU RESPONSIVE*/
.head_cont_resp{
	background-color: #fff;
	min-height:63px;
	height: auto;
	text-transform: uppercase;
	color: #3598dc;
	z-index: 9999999;
	position: fixed;
	padding-top: 20px;
}
.head_cont_resp a{
	text-decoration:none;
}
.head_cont_resp a:hover{
	color:#3598dc;
}
/*SECTION STY*/
section{
	height:auto;
	display: block;
	margin-top:-30px;
}
/*CINEMAGRAPHS*/
section .carousel{
	margin-bottom:0 !important;
}
section.cont_slide .carousel-control{
	width:33px;
	height:65px;
	background-repeat: no-repeat;
	background-image: url('../img/arrows.png');
	overflow: hidden;
	border-radius:0 !important;
	border:0 !important;
	background-color: transparent !important;
}
section.cont_slide .carousel-control.right{
	background-position: -40px;
}
section.cont_slide p{
	position:absolute;
	text-transform: uppercase;
	font-size: 28px;
	color: #fff;
	font-weight: 300;
	width: 440px;
	margin-top: 21%;
	margin:21% 0 0 10%;
	line-height: 1.3em;
}
@media(max-width:900px){
	section.cont_slide p{
		font-size:18px;
		width:340px;
	}
}
/*HACK SAFARI*/
::made-up-pseudo-element, .cont_slide p{
	margin-top: 35% !important;
}
section.cont_slide p span{
	color:#f37531;
}
section .view-cinema{
	width:100%;
	height:auto;
	max-width: 640px;
}
/*MAP AND DISTRIBUIDORES*/
/*section.cont_map{
	min-height:500px;
	z-index: 999999;
	background-color: #fff;
	display: none;
	position: fixed;
	bottom: -500px;
}
.cont_map .map{
	margin-top:40px;
}*/
section.cont_map{
	width:400px;
	height: 500px;
	position: absolute;
	top: 10%;
	right: -400px;
	background-color: #fff;
	z-index: 9999999;
}
/*RESPONSIVE STY*/
@media(max-width:700px){
	body{
		margin-top:0px;
	}
	section{
		margin-top:-2px;
	}
	.video_ext{
		width: 100%;
		height:100%;
		min-width:320px;
		position:relative;
		background-image: url(../img/bg_resp.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		min-height: 640px;
		z-index: 99;
		padding-top: 20px;
	}
	.cont_play{
		width:50%;
		min-width:250px;
		height: auto;
		margin:0 auto;
		padding-top: 230px;
	}
	section.cont_slide .cont_resp_arrow{
		width:120px;
		position: absolute;
		bottom:40px;
		right:0;
	}
	section.cont_slide .cont_resp_arrow .carousel-control{
		width:38px;
		height:38px;
		background-repeat: no-repeat;
		background-image: url('../img/arrow_resp.gif');
		background-color: transparent !important;
		opacity:1 !important;
	}
	section.cont_slide .cont_resp_arrow .left{
		right:60px;
	}
	section.cont_slide p{
		margin:0;
		margin-left:30px;
		bottom:20px;
		font-size: 12px;
		max-width: 45%;
	}
	.cin_01{
		background-image: url('../img/cinema_japan_low.gif');
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		width:100%;
		min-width: 320px;
		height:570px !important;
	}
}
@media(width:640px){
	.cont_play{
		padding-top:150px;
		width:45%;
	}
	.cin_01{
		max-height:370px;
		background-position: center right;
	}
}
@media(width:480px){
	.cont_play{
		width:35%;
		padding-top: 25%;
	}
	.cin_01{
		max-height:320px;
	}
}